<template name="login">

    <div class="back-link">
        <a href="http://www.westernformularacing.com/" class="btn btn-primary">Back to Site</a>
    </div>

    <div class="login-container">
        <div class="row">
            <div class="col-md-12">
                <div class="text-center m-b-md">
                    <h3>Western Formula Racing</h3>
                    <h4>Sponsorship Database App</h4>
                </div>
                <div class="hpanel">
                    <div class="panel-body">
                        <form action="#" id="loginForm">
                            <div class="form-group">
                                <label class="control-label" for="username">Email</label>
                                <input type="text" placeholder="example@gmail.com" title="Please enter your email" required="" value="" name="email" id="email" class="form-control">
                            </div>
                            <div class="form-group">
                                <label class="control-label" for="password">Password</label>
                                <input type="password" title="Please enter your password" placeholder="******" required="" value="" name="password" id="password" class="form-control">
                            </div>
                            <div class="form-group">
                                <div class="checkbox form-checkbox">
                                    <input type="checkbox" class="i-checks" checked id="remember">
                                    Remember login
                                </div>
                            </div>
                            
                            <button class="btn btn-success btn-block">Login</button>
                            <a class="btn btn-default btn-block" href="{{pathFor route='register'}}">Register</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        {{> credits}}
    </div>
</template>